---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [1]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [13]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [14]:
s.iloc[3]

'South Korea'

In [15]:
s.loc['Golf']

'Scotland'

In [16]:
s[3]

'South Korea'

In [17]:
s['Golf']

'Scotland'

In [18]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [19]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [20]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [21]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [22]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [23]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0     28
1    338
2    227
3    864
4    414
dtype: int64

In [24]:
len(s)

10000

In [25]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 1.71 ms per loop

In [26]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 166 µs per loop

In [27]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0     30
1    340
2    229
3    866
4    416
dtype: int64

In [28]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0     32
1    342
2    231
3    868
4    418
dtype: int64

In [29]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

10 loops, best of 3: 1.56 s per loop

In [30]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

10 loops, best of 3: 474 µs per loop

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [31]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [32]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [33]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [34]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [35]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [36]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [37]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [38]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [39]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [40]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [41]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [42]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [43]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [44]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [45]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [46]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [47]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [48]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [49]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [50]:
df

         Cost Item Purchased   Name
Store 1  24.5       Dog Food  Chris
Store 1   4.5   Kitty Litter  Kevyn
Store 2   7.0      Bird Seed  Vinod

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [51]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [52]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [53]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [96]:
df2 = df.copy()
df2['country'] = df2.index
df2 = df2[(df2['Gold']>0) | (df2['Gold.1']>0)]
df2['diff'] = (df2['Gold']-df2['Gold.1'])/df2['Gold.2']
df2['country'][df2['diff'] == df2['diff'].max()].iloc[0]

'Algeria'

# Querying a DataFrame

In [63]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

pandas.indexes.base.Index

In [75]:
df2 = df.copy()
df2['country'] = df2.index
df2.head()
df2['country'][df['Gold'] ==df['Gold'].max()].iloc[0]

str

In [83]:
df2 = df.copy()
df2['country'] = df2.index
df2 = df2[(df2['Gold']>0) | (df2['Gold.1']>0)]
df2['diff'] = abs((df2['Gold']-df2['Gold.1'])/(df2['Gold']+df2['Gold.1']))
df2.head()
df2['country'][df2['diff'] ==df2['diff'].max()]

Algeria                                Algeria
Argentina                            Argentina
Armenia                                Armenia
Australasia                        Australasia
Azerbaijan                          Azerbaijan
Bahamas                                Bahamas
Brazil                                  Brazil
Burundi                                Burundi
Cameroon                              Cameroon
Chile                                    Chile
Colombia                              Colombia
Costa Rica                          Costa Rica
Cuba                                      Cuba
Denmark                                Denmark
Dominican Republic          Dominican Republic
Ecuador                                Ecuador
Egypt                                    Egypt
Ethiopia                              Ethiopia
Georgia                                Georgia
Greece                                  Greece
Grenada                                Grenada
Hong Kong                            Hong Kong
Hungary                                Hungary
India                                    India
Indonesia                            Indonesia
Iran                                      Iran
Ireland                                Ireland
Israel                                  Israel
Jamaica                                Jamaica
Kenya                                    Kenya
                                 ...
Luxembourg                          Luxembourg
Mexico                                  Mexico
Mongolia                              Mongolia
Morocco                                Morocco
Mozambique                          Mozambique
New Zealand                        New Zealand
Nigeria                                Nigeria
Pakistan                              Pakistan
Panama                                  Panama
Peru                                      Peru
Portugal                              Portugal
Romania                                Romania
Russian Empire                  Russian Empire
Serbia                                  Serbia
Serbia and Montenegro    Serbia and Montenegro
South Africa                      South Africa
Suriname                              Suriname
Syria                                    Syria
Chinese Taipei                  Chinese Taipei
Thailand                              Thailand
Trinidad and Tobago        Trinidad and Tobago
Tunisia                                Tunisia
Turkey                                  Turkey
Uganda                                  Uganda
United Arab Emirates      United Arab Emirates
Uruguay                                Uruguay
Venezuela                            Venezuela
Yugoslavia                          Yugoslavia
Zimbabwe                              Zimbabwe
Mixed team                          Mixed team
Name: country, dtype: object

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [143]:
df = pd.read_csv('census.csv')
df.head()
df[df['CTYNAME']=="Harris County"]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
469,50,3,5,13,145,Georgia,Harris County,32024,32026,32157,...,2.914006,4.063664,0.429020,5.371504,14.127449,3.224006,4.802512,0.858040,5.676703,14.550065
2667,50,3,7,48,201,Texas,Harris County,4092459,4093076,4108187,...,1.403957,3.518819,4.820913,5.243613,3.794291,7.154417,8.915715,10.683269,11.850629,10.303814

In [156]:
census_df= pd.read_csv("census.csv")
census_df['REGION']

0       3
1       3
2       3
3       3
4       3
5       3
6       3
7       3
8       3
9       3
10      3
11      3
12      3
13      3
14      3
15      3
16      3
17      3
18      3
19      3
20      3
21      3
22      3
23      3
24      3
25      3
26      3
27      3
28      3
29      3
       ..
3163    2
3164    2
3165    2
3166    2
3167    2
3168    2
3169    4
3170    4
3171    4
3172    4
3173    4
3174    4
3175    4
3176    4
3177    4
3178    4
3179    4
3180    4
3181    4
3182    4
3183    4
3184    4
3185    4
3186    4
3187    4
3188    4
3189    4
3190    4
3191    4
3192    4
Name: REGION, dtype: int64

In [119]:
df2=df[df['SUMLEV'] == 50]
df2[['STNAME',"CTYNAME"]].groupby("STNAME").agg('count').max().index[0]

'CTYNAME'

In [108]:
df['SUMLEV'].unique()

array([40, 50])

In [110]:
df=df[df['SUMLEV'] == 50]
df.head()

Empty DataFrame
Columns: [SUMLEV, REGION, DIVISION, STATE, COUNTY, STNAME, CTYNAME, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015, NPOPCHG_2010, NPOPCHG_2011, NPOPCHG_2012, NPOPCHG_2013, NPOPCHG_2014, NPOPCHG_2015, BIRTHS2010, BIRTHS2011, BIRTHS2012, BIRTHS2013, BIRTHS2014, BIRTHS2015, DEATHS2010, DEATHS2011, DEATHS2012, DEATHS2013, DEATHS2014, DEATHS2015, NATURALINC2010, NATURALINC2011, NATURALINC2012, NATURALINC2013, NATURALINC2014, NATURALINC2015, INTERNATIONALMIG2010, INTERNATIONALMIG2011, INTERNATIONALMIG2012, INTERNATIONALMIG2013, INTERNATIONALMIG2014, INTERNATIONALMIG2015, DOMESTICMIG2010, DOMESTICMIG2011, DOMESTICMIG2012, DOMESTICMIG2013, DOMESTICMIG2014, DOMESTICMIG2015, NETMIG2010, NETMIG2011, NETMIG2012, NETMIG2013, NETMIG2014, NETMIG2015, RESIDUAL2010, RESIDUAL2011, RESIDUAL2012, RESIDUAL2013, RESIDUAL2014, RESIDUAL2015, GQESTIMATESBASE2010, GQESTIMATES2010, GQESTIMATES2011, GQESTIMATES2012, GQESTIMATES2013, GQESTIMATES2014, GQESTIMATES2015, RBIRTH2011, RBIRTH2012, RBIRTH2013, RBIRTH2014, RBIRTH2015, RDEATH2011, RDEATH2012, RDEATH2013, RDEATH2014, RDEATH2015, RNATURALINC2011, RNATURALINC2012, RNATURALINC2013, RNATURALINC2014, RNATURALINC2015, RINTERNATIONALMIG2011, RINTERNATIONALMIG2012, RINTERNATIONALMIG2013, RINTERNATIONALMIG2014, RINTERNATIONALMIG2015, RDOMESTICMIG2011, RDOMESTICMIG2012, RDOMESTICMIG2013, RDOMESTICMIG2014, RDOMESTICMIG2015, RNETMIG2011, RNETMIG2012, RNETMIG2013, RNETMIG2014, RNETMIG2015]
Index: []

[0 rows x 100 columns]

In [138]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()
df[df['CTYNAME']=="Harris County"]

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
469,Georgia,Harris County,73,313,300,272,276,273,32157,32359,32607,32658,32873,33381
2667,Texas,Harris County,16103,66939,66391,67638,69628,70499,4108187,4181238,4262504,4352462,4447577,4538028

In [142]:
df[df['CTYNAME'].str.startswith("Wash")]

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
65,Alabama,Washington County,41,169,165,159,139,147,17610,17336,17115,16869,16863,16804
186,Arkansas,Washington County,806,3207,3331,3236,3187,3225,204026,207882,211637,216480,220682,225477
311,Colorado,Washington County,12,41,39,34,46,43,4801,4809,4737,4778,4786,4864
396,Florida,Washington County,62,223,243,250,234,245,24754,24582,24835,24605,24435,24687
547,Georgia,Washington County,52,232,264,220,249,251,21110,21013,20850,20640,20608,20816
607,Idaho,Washington County,26,111,92,107,108,116,10195,10137,10045,9951,10008,9984
703,Illinois,Washington County,35,152,134,165,157,167,14701,14588,14609,14426,14394,14270
799,Indiana,Washington County,70,297,304,310,342,338,28284,28178,27928,27814,27904,27827
896,Iowa,Washington County,73,279,265,301,312,324,21697,21829,21919,22003,22087,22247
1005,Kansas,Washington County,8,64,61,79,73,80,5782,5832,5729,5641,5628,5598
1125,Kentucky,Washington County,21,117,141,164,154,156,11742,11780,11871,11883,11955,12063
1190,Louisiana,Washington Parish,127,578,546,531,597,571,47099,47138,46636,46349,46287,46371
1211,Maine,Washington County,87,294,312,307,311,302,32824,32711,32519,32235,31863,31625
1234,Maryland,Washington County,427,1738,1744,1729,1746,1731,147738,148819,149203,149321,149423,149585
1334,Michigan,Washtenaw County,977,3826,3780,3662,3683,3709,345563,349048,351213,354289,357029,358880
1419,Minnesota,Washington County,767,2879,2722,2859,2872,2887,238995,241609,244138,246686,249320,251597
1501,Mississippi,Washington County,190,819,837,795,805,803,51076,50439,50068,49721,49135,48130
1618,Missouri,Washington County,75,303,306,302,275,285,25177,25108,25104,25162,25076,24788
1770,Nebraska,Washington County,54,198,207,201,228,228,20275,20263,20294,20217,20265,20248
1790,Nevada,Washoe County,1414,5369,5202,5427,5384,5495,422135,425015,429173,433848,440154,446903
1918,New York,Washington County,130,638,657,623,589,591,63292,63083,63041,62744,62402,62230
2017,North Carolina,Washington County,29,123,133,131,132,128,13163,12949,12717,12732,12558,12385
2162,Ohio,Washington County,146,615,611,643,600,615,61708,61560,61509,61403,61172,61112
2241,Oklahoma,Washington County,160,664,623,609,630,630,51064,51522,51721,51569,51967,52021
2242,Oklahoma,Washita County,39,148,136,148,147,142,11610,11622,11655,11738,11570,11661
2279,Oregon,Washington County,1868,7103,7246,7192,7135,7215,531658,539860,547932,555661,563273,574326
2345,Pennsylvania,Washington County,478,1893,2052,1997,2033,2042,207877,208073,208436,208184,208175,208261
2355,Rhode Island,Washington County,238,952,922,901,915,924,127085,126486,126186,126407,126430,126517
2560,Tennessee,Washington County,353,1316,1350,1371,1315,1319,123338,124012,124919,125488,125862,126302
2805,Texas,Washington County,102,437,380,408,406,415,33726,33962,33880,34160,34413,34765
2848,Utah,Washington County,606,2387,2163,2151,2221,2264,138424,141507,144597,147637,151876,155602
2863,Vermont,Washington County,173,612,616,543,540,547,59570,59556,59358,59195,58940,58612
2957,Virginia,Washington County,142,484,516,490,553,625,54893,54744,55055,54744,54663,54591
3000,Washington,Washington,22244,86703,86714,87244,87491,88782,6743060,6823229,6897292,6973281,7063166,7170351
3162,Wisconsin,Washburn County,36,161,155,152,154,152,15930,15784,15831,15657,15678,15552
3163,Wisconsin,Washington County,350,1348,1320,1296,1363,1336,131967,132225,132649,132758,133301,133674
3191,Wyoming,Washakie County,26,108,90,95,96,90,8545,8469,8443,8443,8316,8328

In [102]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [103]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()